@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);
@import 'header';
@import 'footer';

body {
	margin: 0 auto;
	background-color: rgba(143, 114, 126, 0.6);
}

.container {
	max-width: 1200px;
  	margin: 0 auto;
	width: 80%;
	font-family: 'Open sans', sans-serif;
	text-align: center;
	color: white;
}

h2 {
	font-size: 20px;
	text-decoration: underline;
	margin: 10px 0 0 0;
}

.lyrics {
	p {
		padding: 10px 0;
	}
	h2 {
		font-size: 30px;
	}
}
.dyscography {
	
	ul {
		list-style-position: inside;
	}
}
